
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "includes/head.html" %}
</head>

<body>
    <!-- Topbar Start -->
    {% include "includes/topbar.html" %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% include "includes/navbar.html" %}
    <!-- Navbar End -->

    {% block content %}
    {% endblock %}



    <!-- Footer Start -->
    {% include "includes/footer.html" %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- js -->
    {% include "includes/footer-scripts.html"%}
    {% block js %}{% endblock %}
</body>

</html>